@model FolderDirectoryVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Folder - @Model.PathText</h2>
    @foreach (var item in Model.FolderDirectories)
    {
        <a href="@(Model.PathUrl)/@(item.Title)">@(item.Title)</a><br>
    }
</div>