@model FolderDirectoryVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Folder - @Model.PathText</h2>
    @foreach (var item in Model.FolderDirectories)
    {
        var specSign = string.IsNullOrEmpty(Model.PathUrl) ? "" : "/";
        var url = specSign + Model.PathUrl.Replace(item.Title, "") + specSign + item.Title;
        <a href="@(url)">@(item.Title)</a><br>
    }
    
    <hr>
    <button type="button" onclick="exportAsync()">Export All</button>
    <hr>
    
    <form action="upload-async" enctype="multipart/form-data" method="post">
        <dl>
            <dd style="margin: 0;">
                <input type="file" id="file" name="file" />
            </dd>
        </dl>
    
        <input id="upload-file" class="btn" type="button" value="Upload" />
    </form>

    
</div>

<script>
    function exportAsync() {
        $.ajax({
            type : "GET",
            url : "export-async",
            success: function (r){
                alert(r.message);
            },
            error: function (r) {
                console.log("error ", r);
            },
            failure: function () {
                console.log("failure")
            }
        });
    }
    
    $("#upload-file").on("click", function() {
        event.preventDefault();
        
        var formData = new FormData();
        var files = $('#file')[0].files;
        
        // Check file selected or not
        if(files.length > 0 ){
           formData.append('file',files[0]);
    
            console.log("file  ", file);
            console.log("formData  ", formData);
        
            $.ajax({
                type : "POST",
                url : "upload-async",
                data: formData,
                contentType: false,
                processData: false,
                success: function (r){
                    alert(r.message);
                },
                error: function (r) {
                    console.log("error ", r);
                },
                failure: function () {
                    console.log("failure")
                }
            });
        }
    });
</script>