@model FolderDirectoryVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Folder - @Model.PathText</h2>
    @foreach (var item in Model.FolderDirectories)
    {
        var specSign = string.IsNullOrEmpty(Model.PathUrl) ? "" : "/";
        var url = specSign + Model.PathUrl.Replace(item.Title, "") + specSign + item.Title;
        <a href="@(url)">@(item.Title)</a><br>
    }
</div>